//
   Created by Владелец on 07.01.2017.

div.footer
   div.buttons.row
      div.col-md-3
         a(href="https://www.facebook.com/profile.php?id=100008521293655").btn.btn-social-icon.btn-sm.btn-facebook
            span.fa.fa-facebook
      div.col-md-3
         a(href="https://github.com/yzhbankov").btn.btn-social-icon.btn-sm.btn-github
            span.fa.fa-github
      div.col-md-3
         a(href="https://github.com/yzhbankov").btn.btn-social-icon.btn-sm.btn-linkedin
            span.fa.fa-linkedin
      div.col-md-3
         a(href="https://plus.google.com/102236888586852159908").btn.btn-social-icon.btn-sm.btn-google
            span.fa.fa-google