//
   Created by Владелец on 21.12.2016.

doctype html
html
    head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.1.0.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/foundation.min.css")
    link(rel="stylesheet" href="css/bootstrap-social.css")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous")

    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous")
    script(src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js")
    title Pinterest clone
body

    div.menu
        nav.navbar.navbar-fixed-top
            div.container
                div.navbar-header
                    button(type="button" data-toggle="collapse" data-target="#myNavbar").navbar-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="/").navbar-brand Home
                a(href="/allpics").navbar-brand All pics
                a(href="/mypics").navbar-brand My pics

                span.icon-bar
                -if(username)
                    span.navbar-brand Hello #{username}!
                    div.dropdown
                        a(data-toggle="dropdown").dropdown-toggle Add pic
                        ul(role="menu").dropdown-menu
                            form(action="/add" method="POST")
                                div.form-group
                                    input(type="text" placeholder="Pic url...:" name="pic_url").form-control#text
                                div.form-group
                                    input(type="text" placeholder="Pic Description:" name="description").form-control#text
                                button(type="submit").btn.btn-primary.btn-block Submit

                div.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.signup-btn
                            a(href="/auth/twitter") Login
                                span.fa.fa-twitter

                        li.logout-btn
                            a(href="/logout") Logout
div.board
    div.title BookStock
    div Spread The Knowledge
block content

