//
   Created by Владелец on 24.12.2016.
doctype html
extends ./index.jade
block append content
    -if(user)
        h2(style="text-align:center; margin-top:20px") Welcome #{user}!


    include ./footer.jade
